---

---

<a
  href="/login/signin"
  class="bg-white text-gray-800 font-semibold py-2 px-6 border border-gray-300 rounded shadow hover:bg-gray-100"
>
  Sign In
</a>

<style>
  a {
    display: inline-block;
    text-align: center;
  }
</style>
